/* Global Styles */
html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8; /* Light background for better visibility */
    font-family: 'Arial', sans-serif;   
}

.layout-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 100vh; /* Full height of the viewport */
    /* Removed padding-bottom to let the main section fill the space */
}

main {
    flex: 1; /* Allow the main area to grow and take up available space */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef; /* Background color for the main content */
    padding-bottom: 50px; /* Prevent content from being hidden by the footer */
}

h1, h3 {
    margin: 0;
    padding: 0;
    color: #ffffff; /* Header text color */
}

.user-intro {
    color: #ffffff;
    padding-right: 20px;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004085; /* Header background color */
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 40px; /* Adjust logo size */
    height: 40px; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between logo and text */
}

.auth-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-button {
    background: #ffffff; /* Button background color */
    color: #000000; /* Button text color */
    border: 1px solid #ffffff; /* Button border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px;
    text-decoration: none; /* No underline */
    margin-left: 10px; /* Space between buttons */
    cursor: pointer; /* Pointer on hover */
}

/* Footer Styles */
footer {
    text-align: center;
    height: 50px; /* Fixed height for the footer */
    padding: 10px 0;
    position: fixed; /* Fixed footer */
    bottom: 0; /* Position at the bottom */
    left: 0;
    right: 0;
    background-color: #007bff; /* Footer background color */
    color: white; /* Footer text color */
}
    